@charset "UTF-8";
/**
 * Jekyll Theme Style
 * - author: liaokeyu (liaokeyu.com)
 */
/*** Parameters ***/
/*** Mixins ***/
/*** Base ***/
html, body {
  height: 100%;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, textarea,
form, label, legend, table, caption, menu, nav, section, summary,
time, mark, audio, video, iframe, main, header, footer {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0 none;
}

body {
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  background-color: #F7F8FA;
  overflow: visible;
}

ul {
  list-style-type: none;
}

a {
  color: #4E4E4E;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

::selection {
  background-color: rgba(0, 147, 254, 0.2);
}

::-moz-selection {
  background-color: rgba(0, 147, 254, 0.2);
}

::-webkit-selection {
  background-color: rgba(0, 147, 254, 0.2);
}

.gray {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/*** Main style ***/
.g-container {
  width: 960px;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert-tip {
  position: fixed;
  z-index: 102;
  background: hsla(0deg, 0%, 100%, 0.3);
  padding: 10px 20px;
  min-width: 150px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #000;
  backdrop-filter: blur(6px);
  visibility: hidden;
  opacity: 0;
  transition: all 1s linear;
}
.alert-tip.active {
  visibility: visible;
  opacity: 1;
}

.cookie-tip {
  position: fixed;
  z-index: 102;
  background: rgb(237, 239, 245);
  padding: 0.5em 1.8em;
  font-size: 13px;
  line-height: 2.5em;
  min-height: 2.5em;
  min-width: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgb(131, 131, 145);
  backdrop-filter: blur(6px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s linear;
}
.cookie-tip.active {
  visibility: visible;
  opacity: 1;
}
.cookie-tip a {
  text-decoration: underline;
}

#accept-tos {
  float: right;
  padding: 6px 20px;
  background-color: #4b81e8;
  color: #fff;
  font-weight: 700;
  border-width: 2px;
  text-align: center;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
}

.g-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 16px 0;
  background-color: transparent;
  transition: all 0.6s;
  z-index: 1000;
}
.g-header .g-logo {
  float: left;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  transition: all 0.2s;
}
.g-header .g-logo:hover {
  opacity: 1;
}
.g-header .g-logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.g-header #mode-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 35px;
  right: 57px;
  display: none;
}
.g-header #mode-toggle .icon-day, .g-header #mode-toggle .icon-night {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: none;
}
.g-header #mode-toggle .icon-day.active, .g-header #mode-toggle .icon-night.active {
  display: block;
}
.g-header #mode-toggle .icon-day:hover, .g-header #mode-toggle .icon-night:hover {
  background-color: #81bbff;
  border-radius: 50%;
}
.g-header .icon-menu {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  padding: 8px;
  font-size: 28px;
  color: #fff;
  opacity: 0.8;
  border-radius: 3px;
}
.g-header .icon-menu:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.g-header .g-nav {
  float: right;
  margin-right: 2%;
}
.g-header .g-nav > ul > li {
  float: left;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin-right: 18px;
}
.g-header .g-nav > ul > li:last-child {
  margin-right: 0;
}
.g-header .g-nav > ul > li > a {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 12px;
  opacity: 1;
}
.g-header .g-nav > ul > li > a:hover {
  opacity: 0.7;
}
.g-header .g-nav > ul > li.mode {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  cursor: pointer;
}
.g-header .g-nav > ul > li.mode .icon {
  width: 30px;
  height: 30px;
  padding: 5px;
  display: none;
}
.g-header .g-nav > ul > li.mode .icon.active {
  display: block;
}
.g-header .g-nav > ul > li.mode::hover {
  background-color: #81bbff;
  border-radius: 50%;
}
.g-header .g-nav .dropdown-toggle {
  white-space: nowrap;
}
.g-header .g-nav .dropdown-toggle::after {
  content: "";
  display: inline-block;
  vertical-align: 0.306em;
  width: 0.36em;
  height: 0.36em;
  border-bottom: 2px solid;
  border-left: 2px solid;
  margin-right: 0.1em;
  margin-left: 0.4em;
  transform: rotate(-45deg);
}
.g-header .g-nav .dropdown-toggle.show::after {
  vertical-align: 0.1em;
  transform: rotate(135deg);
}
.g-header .g-nav ul.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: none;
  float: left;
  position: absolute;
  min-width: 140px;
  padding: 5px 0;
  margin-left: 12px;
}
.g-header .g-nav ul.dropdown-menu.show {
  display: block;
}
.g-header .g-nav ul.dropdown-menu li {
  padding: 0rem 0.75rem;
  line-height: 2.5rem;
}
.g-header .g-nav ul.dropdown-menu li:hover {
  background-color: rgba(98, 105, 118, 0.04);
}
.g-header .g-nav ul.dropdown-menu li a {
  color: #4e4e4e !important;
  display: block;
  text-align: center;
}
.g-header .nav-default a:hover {
  color: #1494FB !important;
}
.g-header .nav-default .mode {
  background-color: #1B7EFF;
  border-radius: 50%;
}
.g-header .nav-pink a:hover {
  color: #FC6794 !important;
}

.headerUp {
  top: -82px;
}

.headerDown {
  top: 0;
}

.g-banner {
  height: 460px;
  background-color: #2F3139;
  color: #fff;
  padding: 0 60px;
}
.g-banner .meta-item {
  margin-top: 20px;
}
.g-banner .meta-item svg {
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
.g-banner .meta-item a {
  text-decoration: underline;
  color: #fff;
}

.home-banner {
  position: relative;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 38, 55, 0.16);
}
.home-banner h2, .home-banner h3 {
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.home-banner h2 {
  padding-top: 190px;
  line-height: 38px;
  font-size: 42px;
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: bold;
  line-height: 52px;
}
.home-banner h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
}

.banner-theme-default {
  background: -webkit-linear-gradient(0deg, #3CD5FF, #007AFF);
  background: -o-linear-gradient(0deg, #3CD5FF, #007AFF);
  background: -moz-linear-gradient(0deg, #3CD5FF, #007AFF);
  background: linear-gradient(100deg, #3CD5FF, #007AFF);
}

.banner-theme-pink {
  background: -webkit-linear-gradient(0deg, #FFCE69, #FA709A);
  background: -o-linear-gradient(0deg, #FFCE69, #FA709A);
  background: -moz-linear-gradient(0deg, #FFCE69, #FA709A);
  background: linear-gradient(100deg, #FFCE69, #FA709A);
}

.themeColor-default {
  background-color: #1494FB;
}

.themeColor-pink {
  background-color: #FC6794;
}

.home-content {
  margin: 40px auto 60px;
}
.home-content:before, .home-content:after {
  content: "";
  display: table;
}
.home-content:after {
  clear: both;
}

.article-list {
  float: left;
  width: 695px;
}
.article-list .article-item {
  width: 100%;
  margin-bottom: 16px;
  padding: 20px 20px;
  background-color: #fff;
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
}
.article-list .article-item:last-child {
  margin-bottom: 0;
}
.article-list .article-item .post-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article-list .article-item .post-cover {
  position: relative;
  width: 100%;
  max-height: 300px;
  margin-bottom: 14px;
  overflow: hidden;
}
.article-list .article-item .post-cover img {
  width: 100%;
  vertical-align: middle;
}
.article-list .article-item .post-preview {
  position: relative;
}
.article-list .article-item .post-preview .post-title {
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #4E4E4E;
  font-size: 24px;
  line-height: 32px;
}
.article-list .article-item .post-preview .post-title .keep-top {
  color: red;
}
.article-list .article-item .post-preview .post-subtitle {
  margin-top: 3px;
  font-size: 18px;
  font-weight: normal;
  color: #585858;
  line-height: 26px;
}
.article-list .article-item .post-preview .post-excerpt {
  margin-top: 8px;
  font-size: 16px;
  font-family: "Merriweather", "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 26px;
  word-break: break-all;
  color: #585858;
}
.article-list .article-item .post-meta {
  min-height: 22px;
  margin-top: 8px;
  display: inline-block;
}
.article-list .article-item .post-meta .post-tags {
  float: left;
  display: inline-block;
  width: 515px;
}
.article-list .article-item .post-meta .post-date {
  float: right;
  color: #585858;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 22px;
}
.article-list .article-item .post-meta .post-date .icon {
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
}

.author-card {
  text-align: center;
}
.author-card .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(100, 110, 120, 0.53);
}
.author-card .avatar img {
  width: 70px;
  height: 70px;
}
.author-card .author-name {
  width: 100%;
  font-size: 16px;
  color: #4E4E4E;
  font-weight: 500;
  margin: 12px 0 6px;
}
.author-card .bio p {
  font-size: 14px;
  line-height: 20px;
}
.author-card .sns-links {
  margin-top: 14px;
  cursor: default;
}
.author-card .sns-links li {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.author-card .sns-links li a {
  display: inline-block;
}
.author-card .sns-links li .iconfont {
  font-size: 22px;
  line-height: 30px;
}
.author-card .sns-links li .iconfont {
  color: #B8BDC3;
  transition: 0.2s;
}
.author-card .sns-links li .iconfont:hover {
  color: #7B848F;
}
.author-card .sns-links li .icon {
  color: #B8BDC3;
  transition: 0.2s;
  width: 22px;
  height: 22px;
  line-height: 30px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}
.author-card .sns-links li .icon:hover {
  color: #7B848F;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
}
.author-card .sns-links li .icon-weibo:hover {
  color: #F85555;
}
.author-card .sns-links li .icon-zhihu:hover {
  color: #1892F5;
}
.author-card .sns-links li .icon-twitter:hover {
  color: #39A6F8;
}
.author-card .sns-links li .icon-instagram:hover {
  color: #D92580;
}
.author-card .sns-links li .icon-juejin:hover {
  color: #1682FC;
}
.author-card .sns-links li .icon-douban:hover {
  color: #2E963D;
}
.author-card .sns-links li .icon-github:hover {
  color: #575757;
}
.author-card .sns-links li .icon-facebook:hover {
  color: #3D5A9A;
}
.author-card .sns-links li .icon-dribbble:hover {
  color: #F26798;
}
.author-card .sns-links li .icon-jianshu:hover {
  color: #EA6F5A;
}
.author-card .sns-links li .icon-uicn:hover {
  color: #3498DB;
}
.author-card .sns-links li .icon-linkedin:hover {
  color: #3181BE;
}
.author-card .sns-links li .icon-medium:hover {
  color: #0BE370;
}
.author-card .sns-links li .icon-youtube:hover {
  color: #FF2600;
}
.author-card .sns-links li .icon-behance:hover {
  color: #0057ff;
}
.author-card .sns-links li .icon-vk:hover {
  color: #5181b8;
}

.article-item .post-meta .post-tag, .tags-card .tag, .tags-content .tag {
  display: inline-block;
  width: auto;
  height: 22px;
  padding: 0 8px;
  font-size: 14px;
  color: #656565;
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 22px;
  box-sizing: border-box;
  box-shadow: 0 0 0.6px #D5DAE1;
  border-radius: 2px;
  background-color: #FAFAFA;
  cursor: pointer;
  margin-right: 2px;
  transition: 0.2s;
  margin-bottom: 5px;
}
.article-item .post-meta .post-tag:last-child, .tags-card .tag:last-child, .tags-content .tag:last-child {
  margin-right: 0;
}
.article-item .post-meta .post-tag:hover, .tags-card .tag:hover, .tags-content .tag:hover {
  color: #1494FB !important;
}

.tags-card .links {
  width: 100%;
  font-size: 16px;
  color: #4e4e4e;
  font-weight: 500;
  margin: 12px 0 6px;
  text-align: center;
}

.g-sidebar-wrapper {
  float: right;
  width: 240px;
}

.g-sidebar {
  padding: 20px 20px;
  background-color: #fff;
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
}
.g-sidebar section {
  padding: 30px 0;
  border-bottom: 1px solid #E7EAF1;
}
.g-sidebar section:first-child {
  padding-top: 0;
}
.g-sidebar section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.g-sidebar section .tag {
  margin-bottom: 8px;
}

.search-card {
  position: relative;
  margin-top: 16px;
  padding: 0;
}
.search-card input, .search-card .search_item {
  font-size: 16px;
  color: #4E4E4E;
}
.search-card input {
  padding: 20px 20px;
  background-color: #fff;
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
  position: relative;
  padding: 12px 46px 12px 18px;
  margin: 0;
  width: 100%;
  background-color: #fff;
  outline: none;
  z-index: 1;
}
.search-card ::-webkit-input-placeholder {
  color: #9EA8B3;
}
.search-card :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9EA8B3;
}
.search-card ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9EA8B3;
}
.search-card .icon-search {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 26px;
  color: #CAD3DC;
  transition: 0.2s;
  z-index: 1;
}
.search-card .icon {
  position: absolute;
  top: 13px;
  right: 18px;
  color: #CAD3DC;
  z-index: 1;
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.search-card .search_result {
  position: relative;
  margin-top: -2px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  z-index: 0;
}
.search-card .search_item {
  padding: 6px 18px;
  margin-bottom: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #E7EAF1;
  border-right: 1px solid #E7EAF1;
  box-sizing: border-box;
  opacity: 0.8;
  transition: 0.2s;
}
.search-card .search_item:first-child {
  padding-top: 14px;
}
.search-card .search_item:last-child {
  padding-bottom: 14px;
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #E7EAF1;
}
.search-card .search_item:hover {
  opacity: 1;
  background-color: #FAFAFA;
}

.pagination {
  float: left;
  position: relative;
  left: 50%;
  margin: 8px auto 0;
}
.pagination .page-links {
  position: relative;
  left: -50%;
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  background-color: #fff;
  padding: 0 8px;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
}
.pagination .page-link {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  margin: 6px;
  font-size: 16px;
  color: #A9B0BC;
  line-height: 34px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}
.pagination .page-link:hover {
  color: #8F98AA;
  background-color: #EEF0F4;
}
.pagination .active {
  color: #8F98AA;
  background-color: #EEF0F4;
}
.pagination #page-link-container {
  display: inline-block;
  float: left;
}

.g-footer {
  min-height: 40px;
  padding: 20px 0;
  border-top: 1px solid #E7EAF1;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 -1px 3px rgba(0, 37, 55, 0.06);
}
.g-footer section {
  font-size: 14px;
  line-height: 20px;
  color: #4E4E4E;
}
.g-footer section a {
  color: #4E4E4E;
}
.g-footer section a:hover {
  color: #83888F;
}
.g-footer section a .license {
  border-width: 0px;
  margin-bottom: -3px;
  width: 80px;
  height: 15px;
}
.g-footer section .upyun {
  height: 25px;
  margin-bottom: -8px;
}

.post-header, .markdown-body, .post-wrapper, .author-detail, .social-share-wrapper {
  margin: 0 auto;
}

.post-wrapper {
  width: 720px;
}

.post-header {
  position: relative;
  padding: 0;
  margin: 0;
  color: #fff;
  overflow: hidden;
  background-color: #4285f4;
  z-index: 0;
}
.post-header h1 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 12px;
}
.post-header .post-tags {
  margin: 150px 0 16px;
}
.post-header .post-tags .post-tag {
  display: inline-block;
  width: auto;
  height: 22px;
  padding: 0 8px;
  font-size: 14px;
  color: #656565;
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 22px;
  box-sizing: border-box;
  box-shadow: 0 0 0.6px #D5DAE1;
  border-radius: 2px;
  background-color: #FAFAFA;
  cursor: pointer;
  margin-right: 2px;
  transition: 0.2s;
  margin-bottom: 5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.26);
  box-shadow: none;
  margin-bottom: 8px;
}
.post-header .post-tags .post-tag:last-child {
  margin-right: 0;
}
.post-header .post-tags .post-tag:hover {
  color: #1494FB !important;
}
.post-header .post-tags .post-tag:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}
.post-header .post-meta {
  margin-top: 32px;
}
.post-header .post-meta .post-meta-item {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-right: 4px;
  opacity: 0.8;
  margin-bottom: 10px;
}
.post-header .post-meta .post-meta-item:last-child {
  margin-right: 0;
}
.post-header .post-meta .post-meta-item .iconfont {
  font-size: 18px;
  margin-right: 4px;
}
.post-header .post-meta .post-meta-item a {
  color: #fff;
  text-decoration: underline;
}
.post-header .post-meta .post-meta-item .icon {
  width: 18px;
  height: 18px;
  margin-bottom: -3px;
}
.post-header .filter {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.post-header .post-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bgcolor-default {
  background-color: #1494FB;
}

.bgcolor-pink {
  background-color: #FC6794;
}

.post-no-cover {
  height: 360px;
}
.post-no-cover .post-tags {
  margin-top: 100px;
}

.post-pattern-circuitBoard {
  background-image: url("data:image/svg+xml,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h44.1zm160 48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H82v-2h122.1zm57.8-46c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm0 16c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H304v2h-42.1zm6.2-114c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2zm-256-48c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H0v-2h12.1zm185.8 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h86.2c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4h-86.2zM258 12.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V0h2v12.1zm-64 208c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-54.2c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9v54.2zm48-198.2c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V82h64v-2h-62V21.9zm16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V66h48v-2h-46V37.9zm-128 96c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V210h16v10.1c-2.282.463-4 2.48-4 4.9 0 2.76 2.24 5 5 5s5-2.24 5-5c0-2.42-1.718-4.437-4-4.9V208h-16v-74.1zm-5.9-21.9c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H114v48H85.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H112v-48h12.1zm-6.2 130c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H176v-74.1c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V242h-60.1zm-16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H114v48h10.1c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H112v-48h-10.1zM66 284.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V274H50v30h-2v-32h18v12.1zM236.1 176c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H274v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V146h-10.1zm-64 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H208v-80h16v-14h-42.1c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H226v18h-16v80h-12.1zm86.2-210c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H272V0h2v32h10.1zM98 101.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V144H53.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H98v-44.1zM53.9 34c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80V0h2v34H53.9zm60.1 3.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V64H80v64H69.9c-.463-2.282-2.48-4-4.9-4-2.76 0-5 2.24-5 5s2.24 5 5 5c2.42 0 4.437-1.718 4.9-4H82V66h32V37.9zM101.9 82c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H128V37.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-28.1zm16-64c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H146v44.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9V18h-26.1zm102.2 270c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H98v14h-2v-16h124.1zM242 149.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64V2H48V0h18v18H53.9zm112 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H192V0h50v2h-48v48h-28.1zm-48-48c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5 0-.342.034-.677.1-1h2.07c-.11.313-.17.65-.17 1 0 1.657 1.343 3 3 3s3-1.343 3-3c0-.35-.06-.687-.17-1H178v34h-18V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V32h14V2h-58.1zm0 96c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H137l32-32h39V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V66h-40.172l-32 32H117.9zm28.1 90.1c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-76.513L175.586 80H224V21.9c-2.282-.463-4-2.48-4-4.9 0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.42-1.718 4.437-4 4.9V82h-49.586L146 112.414V188.1zm16 32c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-99.513L184.586 96H300.1c.398-1.96 1.94-3.502 3.9-3.9v2.07c-1.165.413-2 1.524-2 2.83s.835 2.417 2 2.83v2.07c-1.96-.398-3.502-1.94-3.9-3.9H185.414L162 121.414V220.1zm-144-64c2.282.463 4 2.48 4 4.9 0 2.76-2.24 5-5 5s-5-2.24-5-5c0-2.42 1.718-4.437 4-4.9v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v42.686l-48 48V210h28.1c.463 2.282 2.48 4 4.9 4 2.76 0 5-2.24 5-5s-2.24-5-5-5c-2.42 0-4.437 1.718-4.9 4H2v-62.586l48-48V53.9zm-16 16c2.282-.463 4-2.48 4-4.9 0-2.76-2.24-5-5-5s-5 2.24-5 5c0 2.42 1.718 4.437 4 4.9v18.686l-32 32v2.828l34-34V69.9zM12.1 32c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H288V136.587l16-16v2.827l-14 14V210h-28.1zm-208 32c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H64v-22.586L40.586 194H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.513L66 216.586V242H53.9zm150.2 14c.463-2.282 2.48-4 4.9-4 2.76 0 5 2.24 5 5s-2.24 5-5 5c-2.42 0-4.437-1.718-4.9-4H96v-56.598L56.598 162H37.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h19.502L98 200.598V256h106.1zm-150.2 2c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4H80v-46.586L48.586 178H21.9c-.463 2.282-2.48 4-4.9 4-2.76 0-5-2.24-5-5s2.24-5 5-5c2.42 0 4.437 1.718 4.9 4h27.513L82 208.586V258H53.9zM97 100c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-48 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 96c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-144c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm96 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM49 36c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-32 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM33 68c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 240c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm80-176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 48c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm112 176c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm-16 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 180c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0 16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm0-32c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16 0c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM17 84c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm32 64c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm16-16c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0V302.17c.313-.11.65-.17 1-.17 1.306 0 2.417.835 2.83 2H5.9c-.398-1.96-1.94-3.502-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1c.323-.066.658-.1 1-.1 2.76 0 5 2.24 5 5s-2.24 5-5 5c-.342 0-.677-.034-1-.1v-2.07c.313.11.65.17 1 .17 1.657 0 3-1.343 3-3s-1.343-3-3-3c-.35 0-.687.06-1 .17V92.1zM80 272h2v32h-2v-32zm37.9 32c-.463-2.282-2.48-4-4.9-4-2.42 0-4.437 1.718-4.9 4h2.07c.413-1.165 1.524-2 2.83-2s2.417.835 2.83 2h2.07zM5.9 0c.066.323.1.658.1 1 0 2.76-2.24 5-5 5-.342 0-.677-.034-1-.1V3.83C.313 3.94.65 4 1 4c1.657 0 3-1.343 3-3 0-.35-.06-.687-.17-1H5.9zm294.2 0c-.066.323-.1.658-.1 1 0 2.42 1.718 4.437 4 4.9V3.83c-1.165-.413-2-1.524-2-2.83 0-.35.06-.687.17-1h-2.07zm3.9 300.1c-1.96.398-3.502 1.94-3.9 3.9h2.07c.302-.852.978-1.528 1.83-1.83v-2.07z' fill='%23f8f6fb' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.post-pattern-overlappingCircles {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.post-pattern-food {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='260' height='260' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M24.37 16c.2.65.39 1.32.54 2H21.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06A5 5 0 0 1-17.45 28v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H-20a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1L.9 19.22a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0L2.26 23h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM-13.82 27l16.37 4.91L18.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H-13.1z'/%3E%3Cpath id='path6_fill-copy' d='M284.37 16c.2.65.39 1.32.54 2H281.17l1.17 2.34.45.9-.24.11V28a5 5 0 0 1-2.23 8.94l-.02.06a8 8 0 0 1-7.75 6h-20a8 8 0 0 1-7.74-6l-.02-.06a5 5 0 0 1-2.24-8.94v-6.76l-.79-1.58-.44-.9.9-.44.63-.32H240a23.01 23.01 0 0 1 44.37-2zm-36.82 2a1 1 0 0 0-.44.1l-3.1 1.56.89 1.79 1.31-.66a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .9 0l2.21-1.1a3 3 0 0 1 2.69 0l2.2 1.1a1 1 0 0 0 .86.02l2.88-1.27a3 3 0 0 1 2.43 0l2.88 1.27a1 1 0 0 0 .85-.02l3.1-1.55-.89-1.79-1.42.71a3 3 0 0 1-2.56.06l-2.77-1.23a1 1 0 0 0-.4-.09h-.01a1 1 0 0 0-.4.09l-2.78 1.23a3 3 0 0 1-2.56-.06l-2.3-1.15a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01a1 1 0 0 0-.44.1l-2.21 1.11a3 3 0 0 1-2.69 0l-2.2-1.1a1 1 0 0 0-.45-.11h-.01zm0-2h-4.9a21.01 21.01 0 0 1 39.61 0h-2.09l-.06-.13-.26.13h-32.31zm30.35 7.68l1.36-.68h1.3v2h-36v-1.15l.34-.17 1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.69 0l1.36-.68h2.59l1.36.68a3 3 0 0 0 2.56.06l1.67-.74h3.23l1.67.74a3 3 0 0 0 2.56-.06zM246.18 27l16.37 4.91L278.93 27h-32.75zm-.63 2h.34l16.66 5 16.67-5h.33a3 3 0 1 1 0 6h-34a3 3 0 1 1 0-6zm1.35 8a6 6 0 0 0 5.65 4h20a6 6 0 0 0 5.66-4H246.9z'/%3E%3Cpath d='M159.5 21.02A9 9 0 0 0 151 15h-42a9 9 0 0 0-8.5 6.02 6 6 0 0 0 .02 11.96A8.99 8.99 0 0 0 109 45h42a9 9 0 0 0 8.48-12.02 6 6 0 0 0 .02-11.96zM151 17h-42a7 7 0 0 0-6.33 4h54.66a7 7 0 0 0-6.33-4zm-9.34 26a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-4.34a8.98 8.98 0 0 0 3.34-7h-2a7 7 0 0 1-7 7h-7a7 7 0 1 1 0-14h42a7 7 0 1 1 0 14h-9.34zM109 27a9 9 0 0 0-7.48 4H101a4 4 0 1 1 0-8h58a4 4 0 0 1 0 8h-.52a9 9 0 0 0-7.48-4h-42z'/%3E%3Cpath d='M39 115a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm6-8a6 6 0 1 1-12 0 6 6 0 0 1 12 0zm-3-29v-2h8v-6H40a4 4 0 0 0-4 4v10H22l-1.33 4-.67 2h2.19L26 130h26l3.81-40H58l-.67-2L56 84H42v-6zm-4-4v10h2V74h8v-2h-8a2 2 0 0 0-2 2zm2 12h14.56l.67 2H22.77l.67-2H40zm13.8 4H24.2l3.62 38h22.36l3.62-38z'/%3E%3Cpath d='M129 92h-6v4h-6v4h-6v14h-3l.24 2 3.76 32h36l3.76-32 .24-2h-3v-14h-6v-4h-6v-4h-8zm18 22v-12h-4v4h3v8h1zm-3 0v-6h-4v6h4zm-6 6v-16h-4v19.17c1.6-.7 2.97-1.8 4-3.17zm-6 3.8V100h-4v23.8a10.04 10.04 0 0 0 4 0zm-6-.63V104h-4v16a10.04 10.04 0 0 0 4 3.17zm-6-9.17v-6h-4v6h4zm-6 0v-8h3v-4h-4v12h1zm27-12v-4h-4v4h3v4h1v-4zm-6 0v-8h-4v4h3v4h1zm-6-4v-4h-4v8h1v-4h3zm-6 4v-4h-4v8h1v-4h3zm7 24a12 12 0 0 0 11.83-10h7.92l-3.53 30h-32.44l-3.53-30h7.92A12 12 0 0 0 130 126z'/%3E%3Cpath d='M212 86v2h-4v-2h4zm4 0h-2v2h2v-2zm-20 0v.1a5 5 0 0 0-.56 9.65l.06.25 1.12 4.48a2 2 0 0 0 1.94 1.52h.01l7.02 24.55a2 2 0 0 0 1.92 1.45h4.98a2 2 0 0 0 1.92-1.45l7.02-24.55a2 2 0 0 0 1.95-1.52L224.5 96l.06-.25a5 5 0 0 0-.56-9.65V86a14 14 0 0 0-28 0zm4 0h6v2h-9a3 3 0 1 0 0 6H223a3 3 0 1 0 0-6H220v-2h2a12 12 0 1 0-24 0h2zm-1.44 14l-1-4h24.88l-1 4h-22.88zm8.95 26l-6.86-24h18.7l-6.86 24h-4.98zM150 242a22 22 0 1 0 0-44 22 22 0 0 0 0 44zm24-22a24 24 0 1 1-48 0 24 24 0 0 1 48 0zm-28.38 17.73l2.04-.87a6 6 0 0 1 4.68 0l2.04.87a2 2 0 0 0 2.5-.82l1.14-1.9a6 6 0 0 1 3.79-2.75l2.15-.5a2 2 0 0 0 1.54-2.12l-.19-2.2a6 6 0 0 1 1.45-4.46l1.45-1.67a2 2 0 0 0 0-2.62l-1.45-1.67a6 6 0 0 1-1.45-4.46l.2-2.2a2 2 0 0 0-1.55-2.13l-2.15-.5a6 6 0 0 1-3.8-2.75l-1.13-1.9a2 2 0 0 0-2.5-.8l-2.04.86a6 6 0 0 1-4.68 0l-2.04-.87a2 2 0 0 0-2.5.82l-1.14 1.9a6 6 0 0 1-3.79 2.75l-2.15.5a2 2 0 0 0-1.54 2.12l.19 2.2a6 6 0 0 1-1.45 4.46l-1.45 1.67a2 2 0 0 0 0 2.62l1.45 1.67a6 6 0 0 1 1.45 4.46l-.2 2.2a2 2 0 0 0 1.55 2.13l2.15.5a6 6 0 0 1 3.8 2.75l1.13 1.9a2 2 0 0 0 2.5.8zm2.82.97a4 4 0 0 1 3.12 0l2.04.87a4 4 0 0 0 4.99-1.62l1.14-1.9a4 4 0 0 1 2.53-1.84l2.15-.5a4 4 0 0 0 3.09-4.24l-.2-2.2a4 4 0 0 1 .97-2.98l1.45-1.67a4 4 0 0 0 0-5.24l-1.45-1.67a4 4 0 0 1-.97-2.97l.2-2.2a4 4 0 0 0-3.09-4.25l-2.15-.5a4 4 0 0 1-2.53-1.84l-1.14-1.9a4 4 0 0 0-5-1.62l-2.03.87a4 4 0 0 1-3.12 0l-2.04-.87a4 4 0 0 0-4.99 1.62l-1.14 1.9a4 4 0 0 1-2.53 1.84l-2.15.5a4 4 0 0 0-3.09 4.24l.2 2.2a4 4 0 0 1-.97 2.98l-1.45 1.67a4 4 0 0 0 0 5.24l1.45 1.67a4 4 0 0 1 .97 2.97l-.2 2.2a4 4 0 0 0 3.09 4.25l2.15.5a4 4 0 0 1 2.53 1.84l1.14 1.9a4 4 0 0 0 5 1.62l2.03-.87zM152 207a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6 2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-11 1a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-6 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3-5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-8 8a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm3 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm0 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4 7a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5-2a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm5 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm6-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm4-3a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-5-4a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-24 6a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm16 5a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm7-5a7 7 0 1 1-14 0 7 7 0 0 1 14 0zm86-29a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1 246 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM275 214a29 29 0 0 0-57.97 0h57.96zM72.33 198.12c-.21-.32-.34-.7-.34-1.12v-12h-2v12a4.01 4.01 0 0 0 7.09 2.54c.57-.69.91-1.57.91-2.54v-12h-2v12a1.99 1.99 0 0 1-2 2 2 2 0 0 1-1.66-.88zM75 176c.38 0 .74-.04 1.1-.12a4 4 0 0 0 6.19 2.4A13.94 13.94 0 0 1 84 185v24a6 6 0 0 1-6 6h-3v9a5 5 0 1 1-10 0v-9h-3a6 6 0 0 1-6-6v-24a14 14 0 0 1 14-14 5 5 0 0 0 5 5zm-17 15v12a1.99 1.99 0 0 0 1.22 1.84 2 2 0 0 0 2.44-.72c.21-.32.34-.7.34-1.12v-12h2v12a3.98 3.98 0 0 1-5.35 3.77 3.98 3.98 0 0 1-.65-.3V209a4 4 0 0 0 4 4h16a4 4 0 0 0 4-4v-24c.01-1.53-.23-2.88-.72-4.17-.43.1-.87.16-1.28.17a6 6 0 0 1-5.2-3 7 7 0 0 1-6.47-4.88A12 12 0 0 0 58 185v6zm9 24v9a3 3 0 1 0 6 0v-9h-6z'/%3E%3Cpath d='M-17 191a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm19 9a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H3a1 1 0 0 1-1-1zm-14 5a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm-25 1a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm5 4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm9 0a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm15 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm12-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H4zm-11-14a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-19 0a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2h-2zm6 5a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2h-2a1 1 0 0 1-1-1zm-25 15c0-.47.01-.94.03-1.4a5 5 0 0 1-1.7-8 3.99 3.99 0 0 1 1.88-5.18 5 5 0 0 1 3.4-6.22 3 3 0 0 1 1.46-1.05 5 5 0 0 1 7.76-3.27A30.86 30.86 0 0 1-14 184c6.79 0 13.06 2.18 18.17 5.88a5 5 0 0 1 7.76 3.27 3 3 0 0 1 1.47 1.05 5 5 0 0 1 3.4 6.22 4 4 0 0 1 1.87 5.18 4.98 4.98 0 0 1-1.7 8c.02.46.03.93.03 1.4v1h-62v-1zm.83-7.17a30.9 30.9 0 0 0-.62 3.57 3 3 0 0 1-.61-4.2c.37.28.78.49 1.23.63zm1.49-4.61c-.36.87-.68 1.76-.96 2.68a2 2 0 0 1-.21-3.71c.33.4.73.75 1.17 1.03zm2.32-4.54c-.54.86-1.03 1.76-1.49 2.68a3 3 0 0 1-.07-4.67 3 3 0 0 0 1.56 1.99zm1.14-1.7c.35-.5.72-.98 1.1-1.46a1 1 0 1 0-1.1 1.45zm5.34-5.77c-1.03.86-2 1.79-2.9 2.77a3 3 0 0 0-1.11-.77 3 3 0 0 1 4-2zm42.66 2.77c-.9-.98-1.87-1.9-2.9-2.77a3 3 0 0 1 4.01 2 3 3 0 0 0-1.1.77zm1.34 1.54c.38.48.75.96 1.1 1.45a1 1 0 1 0-1.1-1.45zm3.73 5.84c-.46-.92-.95-1.82-1.5-2.68a3 3 0 0 0 1.57-1.99 3 3 0 0 1-.07 4.67zm1.8 4.53c-.29-.9-.6-1.8-.97-2.67.44-.28.84-.63 1.17-1.03a2 2 0 0 1-.2 3.7zm1.14 5.51c-.14-1.21-.35-2.4-.62-3.57.45-.14.86-.35 1.23-.63a2.99 2.99 0 0 1-.6 4.2zM15 214a29 29 0 0 0-57.97 0h57.96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.post-pattern-glamorous {
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23ffffff' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.post-pattern-ticTacToe {
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23ffffff' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.post-pattern-seaOfClouds {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='28' viewBox='0 0 56 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 26c-2.813 0-5.456.726-7.752 2H56v-2zm-26 2h4.087C38.707 20.783 46.795 16 56 16v-2c-.672 0-1.339.024-1.999.07L54 14a2 2 0 0 1 2-2v-2a4 4 0 0 0-3.98 3.602 28.087 28.087 0 0 0-2.793-3.862A7.994 7.994 0 0 1 56 6V4a9.988 9.988 0 0 0-8.17 4.232 28.156 28.156 0 0 0-3.03-2.634A13.979 13.979 0 0 1 56 0h-7.752a16.078 16.078 0 0 0-5.09 4.454 27.941 27.941 0 0 0-3.536-1.936c.63-.896 1.33-1.738 2.095-2.518H39.03c-.46.557-.893 1.137-1.297 1.737A27.787 27.787 0 0 0 33.723.585c.12-.196.24-.392.364-.585H30l-.001.07A28.406 28.406 0 0 0 26 .07L26 0h-4.087c.124.193.245.389.364.585a27.787 27.787 0 0 0-4.009 1.152c-.404-.6-.837-1.18-1.297-1.737h-2.688c.764.78 1.466 1.622 2.095 2.518-1.23.562-2.41 1.21-3.536 1.936A16.078 16.078 0 0 0 7.752 0H0c4.58 0 8.645 2.199 11.2 5.598a28.156 28.156 0 0 0-3.03 2.634A9.988 9.988 0 0 0 0 4v2a7.994 7.994 0 0 1 6.773 3.74 28.087 28.087 0 0 0-2.793 3.862A4 4 0 0 0 0 10v2a2 2 0 0 1 1.999 2.07C1.339 14.024.672 14 0 14v2c9.205 0 17.292 4.783 21.913 12H26a2 2 0 1 1 4 0zM7.752 28C5.456 26.726 2.812 26 0 26v2h7.752zM56 20c-6.832 0-12.936 3.114-16.971 8h2.688A19.94 19.94 0 0 1 56 22v-2zm-39.029 8C12.936 23.114 6.831 20 0 20v2a19.94 19.94 0 0 1 14.283 6h2.688zm15.01-.398a28.087 28.087 0 0 1 2.792-3.862A7.994 7.994 0 0 0 28 20a7.994 7.994 0 0 0-6.773 3.74 28.087 28.087 0 0 1 2.793 3.862 4 4 0 0 1 7.96 0zm14.287-11.865C42.318 9.864 35.61 6 28 6c-7.61 0-14.318 3.864-18.268 9.737a27.787 27.787 0 0 0-4.009-1.152C10.275 7.043 18.548 2 28 2c9.452 0 17.725 5.043 22.277 12.585a27.787 27.787 0 0 0-4.009 1.152zm-5.426 2.717a27.941 27.941 0 0 1 3.536-1.936C40.76 11.367 34.773 8 28 8s-12.76 3.367-16.378 8.518c1.23.562 2.41 1.21 3.536 1.936C18.075 14.537 22.741 12 28 12s9.925 2.537 12.842 6.454zm-4.672 3.778a28.156 28.156 0 0 1 3.03-2.634A13.979 13.979 0 0 0 28 14c-4.58 0-8.645 2.199-11.2 5.598a28.156 28.156 0 0 1 3.03 2.634A9.988 9.988 0 0 1 28 18a9.988 9.988 0 0 1 8.17 4.232z' fill='%23ffffff' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.post-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: visible;
  padding: 40px 0 80px;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
}
.post-content .post-subtitle {
  position: relative;
  width: 720px;
  font-size: 18px;
  color: #585858;
  font-weight: normal;
  line-height: 28px;
  text-align: center;
  padding: 35px 0;
  margin: 0 auto 40px;
  box-sizing: border-box;
}
.post-content .post-subtitle:before, .post-content .post-subtitle:after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -13%;
  width: 26%;
  height: 2px;
  background-color: #EAECEE;
}
.post-content .post-subtitle:before {
  top: 0;
}
.post-content .post-subtitle:after {
  bottom: 0;
}
.post-content .container {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.post-content .container .contents {
  width: 720px;
}
.post-content .interest {
  width: auto;
  height: 40px;
  display: inline-block !important;
  margin: 0 20px 0 0 !important;
}

.markdown-body {
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  width: 720px;
  box-sizing: border-box;
  padding: 0 0 32px;
}
.markdown-body .highlight {
  margin: 0 0 16px;
  /** overflow: scroll;  修复代码高亮 显示两个 scroll的问题 **/
}
.markdown-body img {
  transition: 0.3s;
  max-width: 100%;
  max-height: 100%;
}
.markdown-body ul li p, .markdown-body ol li p {
  margin: 0;
}
.markdown-body ul li p:first-child, .markdown-body ol li p:first-child {
  margin-bottom: 0;
}
.markdown-body .copy-container {
  position: relative;
  background-color: #e2e2e2;
  height: 28px;
}
.markdown-body .copy-container .lang {
  line-height: 28px;
  padding-left: 10px;
  font-weight: bold;
}
.markdown-body .copy-container .btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 2px 2px;
  border: none;
  cursor: pointer;
  height: 28px;
  background-color: #ebedf0;
  z-index: 100;
}
.markdown-body .copy-container .btn .icon {
  width: 24px;
  height: 24px;
}
.markdown-body .copy-container .btn .tooltip {
  font-family: "LXGW WenKai Screen", -apple-system, Verdana, "PingFang SC", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  float: right;
  position: absolute;
  margin-left: -38px;
  background-color: #dadde1;
  padding: 3px 7px;
  border-radius: 3px;
  margin-top: -35px;
  display: none;
}
.markdown-body .copy-container .btn .tooltip.finish {
  margin-left: -43px;
}
.markdown-body .copy-container .btn .tooltip:after {
  content: "";
  position: absolute;
  top: calc(100% - 6px);
  left: calc(50% - 6px);
  width: 10px;
  height: 10px;
  background-color: #dadde1;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #dadde1 #dadde1 transparent;
  transform: rotate(45deg);
  clip-path: polygon(145% -50%, 150% 150%, -50% 145%);
}
.markdown-body .copy-container .btn .tooltip.active {
  display: inline-block;
}

.social-share-wrapper {
  float: left;
  position: relative;
  left: 50%;
}
.social-share-wrapper .social-share {
  position: relative;
  left: -50%;
}

.post-footer-item {
  margin: 0 auto;
  width: 720px;
}

.author-detail {
  position: relative;
  top: -35px;
}
.author-detail .comment .wl-gif-popup {
  max-width: 90%;
}
.author-detail .comment #disqus_thread, .author-detail .comment #waline {
  display: none;
}
.author-detail .comment #disqus_thread.active, .author-detail .comment #waline.active {
  display: block;
  animation: 0.5s ease 0s 1 normal none running tabshow;
}
.author-detail .comment .comments-headline {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.43em;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
}
.author-detail .comment .comments-headline .icon {
  width: 30px;
  height: 30px;
  margin-bottom: -7px;
}
.author-detail .comment #comments-switch {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  display: block;
  float: right;
  margin-bottom: 10px;
}
.author-detail .comment #comments-switch .first-comment {
  color: #3CD5FF;
}
.author-detail .comment #comments-switch .second-comment {
  color: #FFCE69;
}
.author-detail .comment #comments-switch .switch-button {
  display: inline-block;
  margin-bottom: -5px;
}
.author-detail .comment #comments-switch .switch-button .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.author-detail .comment #comments-switch .switch-button .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #3CD5FF;
  border-radius: 15px;
  transition: background 0.4s;
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat + label:before,
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 10px;
  transition: background 0.4s;
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #3CD5FF;
  border-radius: 24px;
  transition: margin 0.4s, background 0.4s;
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat:checked + label {
  background-color: #FFCE69;
}
.author-detail .comment #comments-switch .switch-button input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 20px;
  background-color: #FFCE69;
}

.read-next {
  display: flex;
  width: 720px;
  margin: 60px auto;
}

.read-next-item {
  position: relative;
  flex: 1;
  height: 260px;
  padding: 0;
  top: 0;
  background-color: #AAB4CA;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(109, 127, 144, 0.5);
  transition: box-shadow 0.4s ease, top 0.3s ease;
}
.read-next-item:first-child {
  margin-right: 10px;
}
.read-next-item:hover {
  top: -5px;
  box-shadow: 0 8px 20px rgba(52, 61, 70, 0.3);
}
.read-next-item .read-next-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.read-next-item section {
  display: none;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 45px;
  color: #fff;
  z-index: 2;
}
.read-next-item section span {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}
.read-next-item section p {
  margin-top: 8px;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.8;
}
.read-next-item .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
  z-index: 1;
  transition: 0.3s linear;
}
.read-next-item img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-filter: blur(6px);
  z-index: 0;
}

.tags-banner {
  height: 300px;
  text-align: center;
}
.tags-banner h2 {
  font-size: 36px;
  line-height: 300px;
}

.tags-content {
  width: 695px;
  margin: -100px auto 0;
}

.tags-list {
  padding: 40px 0;
}
.tags-list li {
  padding: 20px 20px;
  background-color: #fff;
  border: 1px solid #E7EAF1;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.06);
  margin-bottom: 12px;
}
.tags-list li:first-child {
  margin-bottom: 24px;
  cursor: default;
}
.tags-list li .tag {
  box-shadow: 0 0 0.3px #BFC2C6;
  margin-bottom: 12px;
}
.tags-list li .tag-name {
  display: block;
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.tags-list li .tag-post {
  display: block;
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 16px auto;
}
.tags-list li .tag-post:hover {
  color: #000;
}

.np-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  text-align: center;
}
.np-banner h1 {
  font-size: 86px;
  letter-spacing: 4px;
  font-weight: normal;
  padding: 160px 0 20px;
}
.np-banner .subheading {
  font-size: 18px;
}
.np-banner .btn {
  display: block;
  width: 160px;
  height: 38px;
  font-size: 16px;
  color: #fff;
  line-height: 38px;
  border-radius: 3px;
  border: 1px solid #fff;
  margin: 80px auto 0;
  opacity: 0.8;
}

.night-mode {
  background-color: #2d313a;
}
.night-mode .g-banner {
  background-color: #2d313a;
  color: #C8CDD3;
}
.night-mode .post-header .filter {
  opacity: 0.6;
}
.night-mode .article-item, .night-mode .g-sidebar, .night-mode .page-links, .night-mode .search-card input, .night-mode .search_result,
.night-mode .search_item, .night-mode .article-item .post-tag, .night-mode .tags-card .tag, .night-mode .tags-list li,
.night-mode .tags-list .tag {
  color: #AAAAAA;
  background-color: #2D313A;
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
.night-mode .article-item .post-cover img {
  -webkit-filter: brightness(0.6);
}
.night-mode .article-item .post-preview .post-title, .night-mode .article-item .post-preview .post-subtitle, .night-mode .article-item .post-preview .post-excerpt {
  color: #AAAAAA;
}
.night-mode .article-item .post-meta .post-tags, .night-mode .article-item .post-meta .post-date {
  color: #AAAAAA;
}
.night-mode .pagination .page-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.night-mode .pagination .active {
  background-color: rgba(255, 255, 255, 0.1);
}
.night-mode .g-sidebar section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.night-mode .g-sidebar section:last-child {
  border-bottom: none;
}
.night-mode .avatar img {
  -webkit-filter: brightness(0.6);
}
.night-mode .author-name, .night-mode .bio {
  color: #AAAAAA;
}
.night-mode .search_result .search_item:last-child {
  border-color: rgba(255, 255, 255, 0.1);
}
.night-mode .search_result .search_item:hover {
  background-color: transparent;
  color: #fff;
}
.night-mode .article-item .post-tag, .night-mode .tags-card .tag {
  background-color: #565656;
  color: #ffffff;
}
.night-mode .tags-card .links {
  color: #d3d3d3;
}
.night-mode .tags-list li .tag-name, .night-mode .tags-list li .tag-post {
  color: #AAAAAA;
}
.night-mode .g-footer {
  border-color: rgba(255, 255, 255, 0.1);
}
.night-mode .g-footer section {
  color: #AAAAAA;
}
.night-mode .g-footer section a {
  color: #f8f8f8;
}
.night-mode .g-footer section a:hover {
  color: #83888f;
}
.night-mode .post-content {
  background-color: #2d313a;
  border-color: rgba(255, 255, 255, 0.1);
}
.night-mode .post-content .post-subtitle:before, .night-mode .post-content .post-subtitle:after {
  background-color: #575B63;
}
.night-mode .markdown-body {
  color: #AAAAAA;
}
.night-mode .markdown-body img {
  -webkit-filter: brightness(0.6);
}
.night-mode .markdown-body blockquote {
  border-left-color: #555A61;
}
.night-mode .markdown-body code {
  text-shadow: none !important;
}
.night-mode .markdown-body a {
  color: #58ceff;
}
.night-mode .markdown-body .copy-container {
  background-color: #393939;
}
.night-mode .markdown-body .language-plaintext {
  color: chocolate;
}
.night-mode .read-next-item {
  background-color: #484D59;
}
.night-mode .read-next-item section {
  color: #AEB4BD;
}
.night-mode .read-next-item .filter {
  background-color: rgba(0, 0, 0, 0.6);
}
.night-mode :not(pre) > code[class*=language-], .night-mode pre[class*=language-] {
  background-color: #2D313A;
}
.night-mode code[class*=language-], .night-mode pre[class*=language-], .night-mode .token.punctuation,
.night-mode .token.operator, .night-mode .token.entity, .night-mode .token.url, .night-mode .language-css .token.string,
.night-mode .style .token.string, .night-mode .token.variable {
  color: #8F97A7;
  background: none;
}
.night-mode .token.atrule, .night-mode .token.attr-value, .night-mode .token.function {
  color: #A9A054;
}
.night-mode .token.selector, .night-mode .token.attr-name, .night-mode .token.string, .night-mode .token.char,
.night-mode .token.builtin, .night-mode .token.inserted {
  color: #84AC35;
}
.night-mode .token.property, .night-mode .token.tag, .night-mode .token.constant, .night-mode .token.symbol, .night-mode .token.deleted {
  color: #D75885;
}
.night-mode .token.keyword {
  color: #61BDCF;
}
.night-mode .bttb, .night-mode .mobile-list {
  background-color: #444950;
}
.night-mode .wl-panel {
  background-color: #282C34;
}
.night-mode .wl-panel label {
  color: #666666;
}
.night-mode .wl-editor:focus, .night-mode .wl-input:focus {
  background: #252934;
}
.night-mode .wl-card .wl-meta span {
  background: #272727;
  color: #666666;
}
.night-mode .wl-card .wl-content p {
  color: #888888;
}
.night-mode .archives-date {
  color: #eff0f0;
}
.night-mode .year span {
  background-color: #fff;
}

.archives-date {
  width: 130px;
  display: inline-block;
  color: #222222;
  opacity: 0.63;
}

.archives-title {
  width: 95%;
  display: inline-block;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  white-space: nowrap;
}

.markdown-body a {
  color: #005b81;
  text-decoration: none;
}
.markdown-body a:hover {
  color: #e32e00;
  text-decoration: underline;
}
.markdown-body p {
  font-size: 16px;
}
.markdown-body .table-area {
  overflow: auto;
}
.markdown-body .table-area table {
  word-break: keep-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.markdown-body .post-copyright {
  background-color: #FFFBF0;
  border-radius: 4px;
  border: 1px solid #efe1bb;
  padding: 18px 20px;
  font-size: 14px;
  color: #333;
}
.markdown-body .post-copyright p {
  margin-bottom: 0px;
  text-align: left;
}
.markdown-body .post-copyright p span {
  font-weight: bold;
}
.markdown-body .post-copyright p.tips {
  color: #e32e00;
}
.markdown-body .language-plaintext {
  color: chocolate;
}

.mobile-list {
  position: fixed;
  right: 20.8px;
  height: 48px;
  bottom: 75px;
  z-index: 1000;
  width: 48px;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  visibility: hidden;
}
.mobile-list .icon.list, .mobile-list .icon.exit {
  width: 20px;
  height: 20px;
  display: none;
}
.mobile-list .icon.list.active, .mobile-list .icon.exit.active {
  display: inline-block;
}

.bttb {
  background-color: #ebedf0;
  border-radius: 50%;
  bottom: 20.8px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  height: 48px;
  opacity: 0;
  position: fixed;
  right: 20.8px;
  transform: scale(0);
  transition: all 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
  visibility: hidden;
  width: 48px;
  z-index: 1000;
  border: none;
  cursor: pointer;
}
.bttb.active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}
.bttb .icon.up {
  width: 16px;
  height: 16px;
  display: none;
}
.bttb .icon.up.active {
  display: inline-block;
}

:root {
  --waline-theme-color: #81bbff!important;
  --waline-active-color: #1B7EFF!important;
}

.year span {
  float: right;
  width: 50px;
  height: 25px;
  text-align: center;
  border-radius: 2px;
}
.year span .icon.animal {
  width: 25px;
  height: 25px;
}
.year span .icon.dz {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
  margin-left: -5px;
}

.table-of-contents {
  padding: 10px;
  border-left: 2px solid #efefef;
  width: 280px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  margin-bottom: 80px;
  height: fit-content;
  margin-left: 30px;
}
.table-of-contents h2 {
  font-family: fantasy;
  color: #e32e00;
}
.table-of-contents ul {
  margin-left: 20px;
  list-style-type: revert;
  font-size: 14px;
  line-height: 24px;
  color: #005b81;
}
.table-of-contents ul a {
  color: #005b81;
}
.table-of-contents ul a.active {
  color: #e32e00;
}

#busuanzi_value_site_pv, #busuanzi_value_site_uv {
  color: brown;
}

.friends .friendurl {
  text-decoration: none !important;
  color: #000;
  box-shadow: none !important;
}
.friends .frienddiv {
  height: 100px;
  width: 49%;
  display: inline-block !important;
  border-radius: 5px;
  background: 0 0;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
.friends .frienddiv:hover {
  background: rgba(0, 0, 0, 0.03);
}
.friends .frienddivleft {
  width: 92px;
  float: left;
  margin-right: -5px;
}
.friends .frienddivleft .myfriend {
  width: 56px !important;
  height: 56px !important;
  border-radius: 50% !important;
  padding: 2px;
  margin-top: 20px !important;
  margin-left: 14px !important;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(100, 110, 120, 0.53);
}
.friends .frienddivright {
  margin-top: 27px;
  margin-right: 18px;
}
.friends .frienddivright .friendname {
  text-overflow: ellipsis;
  font-size: 100%;
  margin-bottom: 5px;
  color: var(--primary);
}
.friends .frienddivright .friendinfo {
  text-overflow: ellipsis;
  font-size: 70%;
  color: var(--primary);
}

.premonition.note, .premonition.info, .premonition.warning, .premonition.error, .premonition.citation {
  border-radius: 6.4px;
  padding: 10px 16px 1px 16px;
  margin-bottom: 20px;
}
.premonition.note {
  background-color: #d4deea;
  border-left: 5px solid #045494;
  color: #045494;
}
.premonition.note code {
  color: #045494 !important;
}
.premonition.info {
  background-color: #e6f6e6;
  border-left: 5px solid #009400;
  color: #009400;
}
.premonition.info code {
  color: #009400 !important;
}
.premonition.warning {
  background-color: #fcf8f2;
  border-left: 5px solid #f0ad4e;
  color: #f0ad4e;
}
.premonition.warning code {
  color: #f0ad4e !important;
}
.premonition.error {
  background-color: #fdf7f7;
  border-left: 5px solid #d9534f;
  color: #d9534f;
}
.premonition.error code {
  color: #d9534f !important;
}
.premonition.citation {
  background-color: #f8f9fa;
  border-left: 5px solid #495057;
  color: #495057;
}
.premonition.citation code {
  color: #495057 !important;
}
.premonition.citation .ref {
  text-align: right;
  margin-bottom: 10px;
}
.premonition .header {
  font-weight: 700;
  line-height: 17.5px;
  margin-bottom: 10px;
}
.premonition code {
  text-shadow: none;
}
.premonition .icon {
  width: 18px;
  height: 18px;
  margin-bottom: -2px;
  margin-right: 5px;
}
.premonition .title {
  display: inline-block;
}

.night-mode .premonition {
  color: #fff;
}
.night-mode .premonition.note {
  background-color: #193c45;
}
.night-mode .premonition.info {
  background-color: #1c4a1c;
}
.night-mode .premonition.warning {
  background-color: #3d2d14;
}
.night-mode .premonition.error {
  background-color: #3e1616;
}
.night-mode .premonition.citation {
  background-color: #323940;
}
.night-mode .premonition.citation code {
  color: #848e97 !important;
}

@media screen and (min-width: 1920px) {
  .home-banner {
    height: 600px;
  }
  .home-banner h2 {
    padding-top: 260px;
    font-size: 42px;
  }
  .home-banner h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 960px) {
  .g-container {
    width: auto;
  }

  .article-list {
    float: none;
    margin: 0 auto;
  }

  .g-sidebar, .search-card {
    display: none;
  }

  .pagination .page-num {
    display: none;
  }
  .pagination .page-link {
    width: 56px;
  }
}
@media screen and (max-width: 1050px) {
  .post-content .container {
    width: 100%;
  }
  .post-content .container .contents {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

  .table-of-contents {
    visibility: hidden;
    opacity: 0;
    border-left: none;
    position: fixed;
    right: 20.8px;
    top: auto;
    max-height: 60%;
    bottom: 127px;
    margin-left: 0px;
    max-width: 95%;
    background-color: aliceblue;
    z-index: 1000;
    overflow: scroll;
    margin-bottom: 0px;
    padding: 25px;
  }
  .table-of-contents.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

  .post .mobile-list {
    visibility: visible;
  }
}
@media screen and (max-width: 960px) {
  .archives-date {
    display: none;
  }

  .archives-title {
    width: 290px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -8px !important;
  }
}
@media screen and (max-width: 768px) {
  .post-wrapper, .markdown-body, .read-next {
    width: 92%;
  }

  .post-content .post-subtitle {
    width: 92%;
  }

  .author-detail .author-card {
    width: 92%;
  }
}
@media screen and (max-width: 695px) {
  .g-header {
    position: absolute;
    top: 0;
    padding: 28px 0;
  }
  .g-header #mode-toggle {
    display: block;
  }
  .g-header .icon-menu {
    display: block;
    width: 40px;
    height: 28px;
  }
  .g-header .g-nav {
    position: relative;
    top: 48px;
    right: 1%;
    display: none;
    min-width: 152px;
    background-color: #fff;
    border-radius: 2px;
    padding: 8px 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
  .g-header .g-nav > ul > li {
    float: none;
    height: auto;
    line-height: normal;
    margin-right: 0;
  }
  .g-header .g-nav > ul > li > a {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    font-weight: bold;
    color: #A5A8B0;
    opacity: 1;
  }
  .g-header .g-nav > ul > li.mode {
    display: none;
  }
  .g-header .g-nav ul.dropdown-menu {
    box-shadow: none;
    position: relative;
    float: none;
  }
  .g-header .g-nav ul.dropdown-menu li {
    padding: 10px;
    line-height: normal;
  }
  .g-header .g-nav ul.dropdown-menu li a {
    text-align: left;
  }

  .author-detail .author-card .sns-links {
    margin-top: 24px;
  }
  .author-detail .author-card .sns-links li {
    width: 36px;
    height: 36px;
  }
  .author-detail .author-card .sns-links li .iconfont {
    font-size: 32px;
    line-height: 40px;
  }
  .author-detail .comment {
    width: 90%;
  }

  .read-next {
    display: block;
  }

  .read-next-item {
    margin-bottom: 16px;
  }
  .read-next-item:first-child {
    margin-right: 0;
  }
  .read-next-item:last-child {
    margin-bottom: 0;
  }
  .read-next-item:hover {
    top: 0;
    box-shadow: none;
  }
  .read-next-item section {
    width: 90%;
    margin-left: 5%;
    margin-top: 45px;
  }

  .g-banner {
    padding: 0 20px;
  }

  .home-banner h3, .tags-banner h3 {
    margin-top: 8px;
  }

  .home-content {
    margin-top: 0;
  }

  .article-list, .tags-content {
    width: 100%;
  }

  .tags-content {
    margin-top: 0;
  }

  .tags-banner {
    height: 300px;
  }

  .tags-list {
    padding: 0 0 24px;
  }

  .g-footer {
    padding: 30px 0;
  }

  .post-meta-item .icon.info2 {
    display: none;
  }

  #accept-tos {
    float: none;
    display: block;
    margin: auto;
  }

  .friends .frienddiv {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .home-banner {
    height: 400px;
  }
  .home-banner h2 {
    padding-top: 180px;
    font-size: 28px;
    line-height: 48px;
  }
  .home-banner h3 {
    margin-top: 2px;
    font-size: 18px;
  }

  .home-content {
    margin-bottom: 32px;
  }

  .article-list .article-item {
    padding: 20px 16px;
    margin-bottom: 8px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
  }
  .article-list .article-item:first-child {
    border-top: none;
  }
  .article-list .article-item .post-cover {
    max-height: 200px;
  }
  .article-list .article-item .post-preview .post-title {
    font-size: 18px;
    line-height: 26px;
  }
  .article-list .article-item .post-preview .post-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .article-list .article-item .post-meta {
    margin-top: 12px;
  }
  .article-list .article-item .post-meta .post-tags {
    display: none;
  }
  .article-list .article-item .post-meta .post-date {
    float: left;
    margin-left: 5px;
  }

  .pagination .page-links {
    box-shadow: none;
  }

  .post-header {
    padding: 0;
    min-height: 360px;
    height: auto;
  }

  .post-wrapper .post-tags {
    margin: 100px 0 8px;
  }
  .post-wrapper .post-meta {
    margin-top: 16px;
    padding-bottom: 20px;
  }

  .post-content {
    padding-top: 20px;
  }
  .post-content .post-subtitle {
    padding: 8px 0 24px;
    margin-bottom: 32px;
  }
  .post-content .post-subtitle:before {
    height: 0;
  }

  .markdown-body p, .markdown-body ul > li {
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4 {
    margin-top: 24px;
  }
  .markdown-body table {
    margin: 16px auto;
  }
  .markdown-body img {
    margin: 0 auto 16px;
  }
  .markdown-body strong {
    font-weight: 400;
  }
  .markdown-body blockquote p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #888;
    word-break: break-all;
  }
  .markdown-body mjx-container {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 376px) {
  .home-banner h2 {
    font-size: 26px;
    line-height: 38px;
  }
  .home-banner h3 {
    margin-top: 4px;
    font-size: 16px;
  }
}
@media (hover: hover) {
  .bttb:hover {
    background-color: #dadde1;
  }

  #accept-tos:hover {
    background-color: #71a7ff;
  }

  .mobile-list:hover {
    background-color: #dadde1;
  }

  .markdown-body .btn:hover {
    background-color: #dadde1;
  }

  .night-mode .bttb:hover {
    background-color: #606770;
  }

  .table-of-contents ul a:hover {
    color: #e32e00 !important;
    text-decoration: underline;
  }
}